body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata', consolas, monospace;
  font-weight: 700;
}

h1.title {
  font-size: 3em;
  text-transform: uppercase;
}
